*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 100vh;
    border: 2px solid blue;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    height: 200px;
    width: 200px;
    border: 2px solid black;
}
.ColorInput{
    margin-top: 50px;
    height: 50px;
    width: 200px;
    padding: 0;
}
.ColorInput input{
    width: 100%;
    height: 100%;
}
.TextColor{
    margin-top: 20px;
    height: 50px;
    width: 200px;
    cursor: pointer;
}
.white{
    color: white;
}
.black{
    color: black;
}
